<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>label</key>
		<string>world</string>
		<key>image</key>
		<string>fa-eye</string>
		<key>colors</key>
		<array>
			<integer>224</integer>
			<integer>224</integer>
			<integer>224</integer>
		</array>
		<key>textColor</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
        <key>faColor</key>
        <array>
            <integer>0</integer>
            <integer>0</integer>
            <integer>0</integer>
        </array>
	</dict>
	<dict>
		<key>label</key>
		<string>timeline</string>
		<key>segue</key>
		<string>socialTimelineSegue</string>
		<key>image</key>
		<string>fa-rss</string>
		<key>colors</key>
		<array>
			<integer>255</integer>
			<integer>255</integer>
			<integer>255</integer>
		</array>
		<key>textColor</key>
        <array>
            <integer>55</integer>
            <integer>55</integer>
            <integer>55</integer>
        </array>
        <key>faColor</key>
        <array>
            <integer>200</integer>
            <integer>200</integer>
            <integer>200</integer>
        </array>
	</dict>
	<dict>
		<key>label</key>
		<string>add\nremnant</string>
		<key>segue</key>
		<string>addRemnantSegue</string>
		<key>image</key>
		<string>fa-plus</string>
		<key>colors</key>
		<array>
			<integer>255</integer>
			<integer>255</integer>
			<integer>255</integer>
		</array>
		<key>textColor</key>
        <array>
            <integer>55</integer>
            <integer>55</integer>
            <integer>55</integer>
        </array>
        <key>faColor</key>
        <array>
            <integer>200</integer>
            <integer>200</integer>
            <integer>200</integer>
        </array>
	</dict>
	<dict>
		<key>label</key>
		<string>friends</string>
		<key>segue</key>
		<string>socialFindFriendsSegue</string>
		<key>image</key>
		<string>fa-user-plus</string>
		<key>colors</key>
		<array>
			<integer>255</integer>
			<integer>255</integer>
			<integer>255</integer>
		</array>
		<key>textColor</key>
        <array>
            <integer>55</integer>
            <integer>55</integer>
            <integer>55</integer>
        </array>
        <key>faColor</key>
        <array>
            <integer>200</integer>
            <integer>200</integer>
            <integer>200</integer>
        </array>
	</dict>
	<dict>
		<key>label</key>
		<string>alerts</string>
		<key>segue</key>
		<string>alertsSegue</string>
		<key>image</key>
		<string>fa-bell</string>
		<key>colors</key>
		<array>
			<integer>255</integer>
			<integer>255</integer>
			<integer>255</integer>
		</array>
		<key>textColor</key>
        <array>
            <integer>55</integer>
            <integer>55</integer>
            <integer>55</integer>
        </array>
        <key>faColor</key>
        <array>
            <integer>200</integer>
            <integer>200</integer>
            <integer>200</integer>
        </array>
	</dict>
    <dict>
        <key>label</key>
        <string>saved</string>
        <key>segue</key>
        <string>savedSegue</string>
        <key>image</key>
        <string>fa-bookmark</string>
        <key>colors</key>
        <array>
            <integer>255</integer>
            <integer>255</integer>
            <integer>255</integer>
        </array>
        <key>textColor</key>
        <array>
            <integer>55</integer>
            <integer>55</integer>
            <integer>55</integer>
        </array>
        <key>faColor</key>
        <array>
            <integer>200</integer>
            <integer>200</integer>
            <integer>200</integer>
        </array>
    </dict>
	<dict>
		<key>label</key>
		<string>settings</string>
		<key>segue</key>
		<string>settingsSegue</string>
		<key>image</key>
		<string>fa-cog</string>
		<key>colors</key>
		<array>
			<integer>255</integer>
			<integer>255</integer>
			<integer>255</integer>
		</array>
		<key>textColor</key>
		<array>
			<integer>55</integer>
			<integer>55</integer>
			<integer>55</integer>
		</array>
        <key>faColor</key>
        <array>
            <integer>200</integer>
            <integer>200</integer>
            <integer>200</integer>
        </array>
	</dict>
</array>
</plist>
